/* This is the style page for all html in the portfolio repo */

/*start off by aligning everything */
* {
    box-sizing:border-box;
    text-align: center;
}

/* This is just for the body NOT Header */
body {
  background-color:#f0f0f0;
  width: 960px;
  margin-left: 15%;
  color: #777777;

}

.headcontainer {
    background-color:#ffffff;
    padding: 6.4%;
    border-bottom: solid 2px;
    border-color:#cccccc;
   
    
}

.name {
    background-color:#4aaaa5;
    font-family:'Georgia', 'Times New Roman', Times, serif;
    color: white;
    width: 33%;
    height:60px;
    float: left;
    position:relative;
    text-align:center;
    
}

.top{
    background-color:#ffffff;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    float:right;

}



#About {
    float:left;

}

#Portfolio {
    float:left;
    border-left: solid 1px;
    margin-left: 20px;
    margin-right: 20px;
    border-color:#cccccc;

}

#Contact {
    float:left;
    border-left: solid 1px;
    border-color: #cccccc;
    


}
.aboutme {
    clear: top;
    overflow: auto;
    color:#4aaaa5;
}

.whitebox {
    background-color: #ffffff;
    border: solid 1px;
    border-color: #7777;
    margin-top: 20px;
    padding: 40px;
}

.Pic {
   float: left;
   margin-left: 40px; 

}