/* This is the style page for all html in the portfolio repo */

/*start off by aligning everything */
* {
    box-sizing:border-box;
    text-align: center;
}

/* This is just for the body NOT Header */
body {
  background-color:#f0f0f0;
  color: #777777;
  margin:0;
  padding: 0;
  

}

.header {
    
    background:#ffffff;
    padding: 60px;
    border-bottom: solid 1px;
    border-color:#cccccc;
    margin: 0;

}

.name {
    background-color:#4aaaa5;
    font-family:'Georgia', 'Times New Roman', Times, serif;
    color: white;
    width: 23%;
    height:60px;
    float:left;
    text-align:center;
    margin-left: 10%;
    
    
}

.top{
    
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    float:right;
    margin-right: 40px;

}



#About {
    float:left;

}

#Portfolio {
    float:left;
    border-left: solid 1px;
    margin-left: 20px;
    margin-right: 20px;
    border-color:#cccccc;

}

#Contact {
    float:left;
    border-left: solid 1px;
    border-color: #cccccc;
    


}
#aboutme {
    
    color:#4aaaa5;
    block-size:  solid 2px;
    border-bottom: solid 2px;
    border-color: #7777;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    padding: 0;
    text-align: left;
   
}

.whitebox {

    background-color: #ffffff;
    border: solid 1px;
    border-color: #7777;
    width:960px;
    margin-left: 15%;

    
    
}

.pic {
    float:left;
    margin-left: 50px;
    margin-top: 50px;
}

.p {
    
    line-height: 20px;
    width: 50%;
    margin-left: 400px;
    margin-bottom: 50px;
    
    

    
}

.copyright {
    clear: both;
    overflow: auto;
    background: #666666;
    border-top: solid 4px;
    border-color: #4aaaa5;
    color:white;
    padding: 20px;
    margin-top: 80px;
   
}