/* This is the style page for all html in the portfolio repo */

/*start off by aligning everything */
* {
    box-sizing:border-box;
    text-align: center;
}

/* The body is going to give the backround to each page */
body {
  background-color:#f0f0f0;
  font-style:#777777;  
  width: 960px;

}

.name {
    background-color:#4aaaa5;
    border-bottom: solid .5px;
    border-color:#cccccc;
    font-family:'Georgia', 'Times New Roman', Times, serif;
    color: white;
    width: 30%;
    height:50px;
    margin-left:10%;
    
}

.top{
    
}